@charset "utf-8";

/* CSS Document */


@font-face {
    font-family: 'allessaregular';
    src: url('fonts/allessa-webfont.woff2') format('woff2'),
url('allessa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'eote_symbolregular';
    src: url('fonts/eotesymbol-webfont.woff2') format('woff2'),
url('fonts/eotesymbol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proitalic';
    src: url('fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
url('fonts/sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'star_jediregular';
    src: url('fonts/starjedi-webfont.woff2') format('woff2'),
url('fonts/starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aurebeshregular';
    src: url('fonts/aurebesh-webfont.woff2') format('woff2'),
url('fonts/aurebesh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold';
    src: url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
url('fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Add a black background color to the top navigation */
.topnav {
  background-color: none;
  overflow: hidden;
	padding-left: 90px;
	
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
	font-family: "Source Sans Pro";
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
	display: inline;
	}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5074a8;
  color: yellow;
	font-family: Aurebesh;
	font-size: 15px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

body {
	background-image: url("background_archive.png");
		background-color: #242a39;
 	background-repeat: no-repeat;
  	background-attachment: fixed;
	text-align: left;
}

a:link    {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:visited {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:hover   {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:active  {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color: inherit;
  } 

.element		{ font-size:40pt; position: absolute; }
#title-1		{ font-family: Star Jedi; letter-spacing: 3px; color: #D1CE5F; z-index:2; }
#title-2		{ font-family: Aurebesh; font-weight: bold; color: #5074a8; letter-spacing: 4px; font-size: 35pt; margin: 40px 10px 0 35px; z-index:1; }


#main_header {
	width: auto;
	height: 150px;
	background: #242A39;
	margin: -10px 100px;
	border: solid 0px #D1CE5F;
	align-items: left;
}

.primary_header {
	width: 100%;
	background-color: #242A39;
	padding-top: 0px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 1px solid #FFFFFF;
}

.secondary_menu {
	width: 100%;
	padding-top: 80px;
	padding-bottom: auto;
	background-color: none;
	clear: left;
}
.secondary_menu ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: auto;
	font-family: "Source Sans Pro";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10pt;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: left;
	width: 20%;
	transition: all 0.3s linear;
}
.secondary_menu ul li:hover {
	color: #5074a8;
	font-size: 10pt;
	font-family: "Source Sans Pro";
	font-weight: bold;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.secondary_menu li a.active { 
	background-color: #D1CE5F;
	color: #D1CE5F
}

#secondary_menu:hover #personnel {
    display:block;
}

#main {
	width: auto;
	height: auto;
	background: inherit;
	margin: 0px 100px;
	border: solid 0px #D1CE5F;
	align-items: left;
	padding-left: 0px;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.left {
  width: 45%;
}

/* Left and right column */
.column.right {
  width: 0%;
}

/* Middle column */
.column.middle {
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
	padding-left: 100px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

h1 { 
  display: block;
  font-size: 20pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
}

h2 { 
  display: block;
  font-size: 16pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
	padding-left: 15px;
	padding-right: 15px;
}

h3 { 
  display: block;
  font-size: 11pt;
  font-weight: normal;
	font-family: "Source Sans Pro";
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
}

h4 { 
  display: list-item;
  font-size: 11pt;
  font-weight: normal;
	font-family: "Source Sans Pro";
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 15px;
	text-align: justify;
}

h5 { 
  display: contents;
  font-size: 13pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
}

h6 { 
  display: contents;
  font-size: 15pt;
  font-weight: bold;
	font-family: "EotESymbol";
	color: #D1CE5F;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
}


span.legendary {
    color: #0E00C3;
}
span.idolized {
    color: #0056B0;
}
span.liked {
    color: #00C4A2;
}
span.accepted {
    color: #06D437;
}
span.neutral {
    color: #DCE954;
}
span.distrusted {
    color: #E89205;
}
span.disliked {
    color: #E90801;
}
span.detested {
    color: #7A0000;
}
span.vilified {
    color: #270A0A;
}

.accordion.resources {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #505050;
    border-style: solid;
    border-width: 7px;
    border-radius: 15px;
    margin: 0 auto;
    height: 500px;
    width: 1080px;
}

.accordion.resources > ul > li,
.resources .accordion-title,
.resources .accordion-content,
.resources .accordion-separator {
    float: left;
} 

.accordion.resources > ul > li {
    background-color: #1f1f1f;
    margin-right: -900px;
    margin-bottom: -0px;
}

.resources .accordion-select:checked ~ .accordion-separator {
    margin-right: 900px;
    margin-bottom: 0px;
} 

.resources .accordion-title,
.resources .accordion-select  {
    background-color: #2d2d2d;
    color: #ffffff;
    width: 45px;
    height: 500px;
    font-size: 25px;
}

.resources .accordion-title span {
    margin-bottom: 23px; 
    margin-left: 20px;
} 

.resources .accordion-select:hover ~ .accordion-title,
.resources .accordion-select:checked ~ .accordion-title {
    background-color: #3068cc;
} 

 .resources .accordion-title span  {	
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-writing-mode: lr-bt;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-left: 0px;
    line-height: 45px;
} 

.resources .accordion-content {
    background-color: #3e3e3e;
    color: #f5f2f0;
    height: 428px;
    width: 828px;
    padding: 36px;
}

.resources .accordion-title,
.resources .accordion-select:checked ~ .accordion-content {
    margin-right: 0px;
    margin-bottom: 0px;
} 

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}

/* CSS Document */
@font-face {
    font-family: 'allessaregular';
    src: url('allessa-webfont.woff2') format('woff2'),
         url('allessa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'EotE_Symbol';
    src: url('eotesymbol-webfont.woff2') format('woff2'),
         url('eotesymbol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proitalic';
    src: url('sourcesanspro-it-webfont.woff2') format('woff2'),
         url('sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'star_jedi';
    src: url('starjedi-webfont.woff2') format('woff2'),
         url('starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aurebesh';
    src: url('aurebesh-webfont.woff2') format('woff2'),
         url('aurebesh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Add a black background color to the top navigation */
.topnav {
  background-color: none;
  overflow: hidden;
	padding-left: 90px;
	
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
	font-family: "Source Sans Pro";
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
	display: inline;
	}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5074a8;
  color: yellow;
	font-family: Aurebesh;
	font-size: 15px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

body {
	background-image: url("background_archive.png");
		background-color: #242a39;
 	background-repeat: no-repeat;
  	background-attachment: fixed;
	text-align: left;
}

a:link    {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:visited {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:hover   {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:active  {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color: inherit;
  } 

.element		{ font-size:40pt; position: absolute; }
#title-1		{ font-family: Star Jedi; letter-spacing: 3px; color: #D1CE5F; z-index:2; }
#title-2		{ font-family: Aurebesh; font-weight: bold; color: #5074a8; letter-spacing: 4px; font-size: 35pt; margin: 40px 10px 0 35px; z-index:1; }


#main_header {
	width: auto;
	height: 150px;
	background: #242A39;
	margin: -10px 100px;
	border: solid 0px #D1CE5F;
	align-items: left;
}

.primary_header {
	width: 100%;
	background-color: #242A39;
	padding-top: 0px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 1px solid #FFFFFF;
}

.secondary_menu {
	width: 100%;
	padding-top: 80px;
	padding-bottom: auto;
	background-color: none;
	clear: left;
}
.secondary_menu ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: auto;
	font-family: "Source Sans Pro";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10pt;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: left;
	width: 20%;
	transition: all 0.3s linear;
}
.secondary_menu ul li:hover {
	color: #5074a8;
	font-size: 10pt;
	font-family: "Source Sans Pro";
	font-weight: bold;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.secondary_menu li a.active { 
	background-color: #D1CE5F;
	color: #D1CE5F
}

#secondary_menu:hover #personnel {
    display:block;
}

#main {
	width: auto;
	height: auto;
	background: inherit;
	margin: 0px 100px;
	border: solid 0px #D1CE5F;
	align-items: left;
	padding-left: 0px;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.left {
  width: 45%;
}

/* Left and right column */
.column.right {
  width: 0%;
}

/* Middle column */
.column.middle {
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
	padding-left: 100px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

h1 { 
  display: block;
  font-size: 20pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
}

h2 { 
  display: block;
  font-size: 16pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
	padding-left: 15px;
	padding-right: 15px;
}

h3 { 
  display: block;
  font-size: 11pt;
  font-weight: normal;
	font-family: "Source Sans Pro";
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
}

h4 { 
  display: list-item;
  font-size: 11pt;
  font-weight: normal;
	font-family: "Source Sans Pro";
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 15px;
	text-align: justify;
}

h5 { 
  display: contents;
  font-size: 13pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
}

h6 { 
  display: contents;
  font-size: 15pt;
  font-weight: bold;
	font-family: "EotESymbol";
	color: #D1CE5F;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
}


span.legendary {
    color: #0E00C3;
}
span.idolized {
    color: #0056B0;
}
span.liked {
    color: #00C4A2;
}
span.accepted {
    color: #06D437;
}
span.neutral {
    color: #DCE954;
}
span.distrusted {
    color: #E89205;
}
span.disliked {
    color: #E90801;
}
span.detested {
    color: #7A0000;
}
span.vilified {
    color: #270A0A;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0054a6;
  color: #FFFFFF;
	font-weight: bold;
  font-family: "Source Sans Pro";
		font-size: 16pt;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-color: #6dcff6;
	border-width: 1px;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #6dcff6;
}
.active, .accordion2:hover {
  background-color: #6dcff6;
	
}.active, .accordion3:hover {
  background-color: #6dcff6;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #555555;
  display: none;
  overflow: hidden;
font-family: "Source Sans Pro";
	font-size: 12pt;
	color: #FFFFFF;
	text-align: justify;
}
>>>>>>> 164fac71b03b4e269d79054142325d928937b064:style-archives.css
