@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'allessaregular';
    src: url('allessa-webfont.woff2') format('woff2'),
url('allessa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'eote_symbolregular';
    src: url('eotesymbol-webfont.woff2') format('woff2'),
url('eotesymbol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proitalic';
    src: url('sourcesanspro-it-webfont.woff2') format('woff2'),
url('sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'star_jediregular';
    src: url('starjedi-webfont.woff2') format('woff2'),
	    url('starjedi.ttf') format('truetype'),
url('starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aurebeshregular';
    src: url('aurebesh-webfont.woff2') format('woff2'),
url('aurebesh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.woff2') format('woff2'),
url('sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Add a black background color to the top navigation */
.topnav {
  background-color: none;
  overflow: hidden;
	padding-left: 90px;
	
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
	font-family: "Source Sans Pro";
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
	display: inline;
	}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5074a8;
  color: yellow;
	font-family: Aurebesh;
	font-size: 15px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

body {
	background-image: url("background2.png");
		background-color: #242a39;
 	background-repeat: no-repeat;
  	background-attachment: fixed;
	text-align: left;
}

a:link    {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:visited {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:hover   {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:active  {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color: inherit;
  } 

.element		{ font-size:40pt; position: absolute; left:220px; }
#title-1		{ font-family: "Star Jedi"; letter-spacing: 3px; color: #D1CE5F; z-index:2; }
#title-2		{ font-family: Aurebesh; font-weight: bold; color: #5074a8; letter-spacing: 4px; font-size: 35pt; margin: 40px 10px 0 35px; z-index:1; }
#title-3 {
  position: absolute;
  left: 100px;
  top: 60px;
}


#main_header {
	width: auto;
	height: 150px;
	background: #242A39;
	margin: -10px 100px;
	border: solid 0px #D1CE5F;
	align-items: left;
}

.primary_header {
	width: 100%;
	background-color: #242A39;
	padding-top: 0px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 1px solid #FFFFFF;
}

.secondary_menu {
	width: 100%;
	padding-top: 80px;
	padding-bottom: auto;
	background-color: none;
	clear: left;
}
.secondary_menu ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: auto;
	font-family: "Source Sans Pro";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10pt;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: left;
	width: 20%;
	transition: all 0.3s linear;
}
.secondary_menu ul li:hover {
	color: #5074a8;
	font-size: 10pt;
	font-family: "Source Sans Pro";
	font-weight: bold;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.secondary_menu li a.active { 
	background-color: #D1CE5F;
	color: #D1CE5F
}

#secondary_menu:hover #personnel {
    display:block;
}

#main {
	width: auto;
	height: 150px;
	background: #242A39;
	margin: -10px 100px;
	border: solid 0px #D1CE5F;
	align-items: left;
	padding-left: 100px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
	padding-left: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

h1 { 
  display: block;
  font-size: 20pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
}

h2 { 
  display: block;
  font-size: 16pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
	padding-left: 15px;
	padding-right: 15px;
}

h3 { 
  display: block;
  font-size: 11pt;
  font-weight: normal;
	font-family: "Source Sans Pro";
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
}

h4 { 
  display: inline;
  font-size: 11pt;
  font-weight: normal;
	font-family: "Source Sans Pro";
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 15px;
	text-align: justify;
}
.post {
	background: #5074a8;
	font-family: "Source Sans Pro";
	font-size: 11pt;
	color: #FFFFFF;
	padding-bottom: 30px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	 border-radius: 15px 50px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: none;
  overflow: hidden;
	padding-left: 90px;
	
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
	font-family: "Source Sans Pro";
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
	display: inline;
	}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5074a8;
  color: yellow;
	font-family: Aurebesh;
	font-size: 15px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

body {
	background-image: url("background2.png");
		background-color: #242a39;
 	background-repeat: no-repeat;
  	background-attachment: fixed;
	text-align: left;
}

a:link    {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:visited {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:hover   {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            inherit;
  } 
a:active  {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color: inherit;
  } 

.element		{ font-size:40pt; position: absolute; left:220px; }
#title-1		{ font-family: Star Jedi; letter-spacing: 3px; color: #D1CE5F; z-index:2; }
#title-2		{ font-family: Aurebesh; font-weight: bold; color: #5074a8; letter-spacing: 4px; font-size: 35pt; margin: 40px 10px 0 35px; z-index:1; }
#title-3 {
  position: absolute;
  left: 100px;
  top: 60px;
}


#main_header {
	width: auto;
	height: 150px;
	background: #242A39;
	margin: -10px 100px;
	border: solid 0px #D1CE5F;
	align-items: left;
}

.primary_header {
	width: 100%;
	background-color: #242A39;
	padding-top: 0px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 1px solid #FFFFFF;
}

.secondary_menu {
	width: 100%;
	padding-top: 80px;
	padding-bottom: auto;
	background-color: none;
	clear: left;
}
.secondary_menu ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: auto;
	font-family: "Source Sans Pro";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10pt;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: left;
	width: 20%;
	transition: all 0.3s linear;
}
.secondary_menu ul li:hover {
	color: #5074a8;
	font-size: 10pt;
	font-family: "Source Sans Pro";
	font-weight: bold;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.secondary_menu li a.active { 
	background-color: #D1CE5F;
	color: #D1CE5F
}

#secondary_menu:hover #personnel {
    display:block;
}

#main {
	width: auto;
	height: 150px;
	background: #242A39;
	margin: -10px 100px;
	border: solid 0px #D1CE5F;
	align-items: left;
	padding-left: 100px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
	padding-left: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

h1 { 
  display: block;
  font-size: 20pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
}

h2 { 
  display: block;
  font-size: 16pt;
  font-weight: bold;
	font-family: "Source Sans Pro";
	color: #D1CE5F;
	padding-left: 15px;
	padding-right: 15px;
}

h3 { 
  display: block;
  font-size: 11pt;
  font-weight: normal;
	font-family: "Source Sans Pro";
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
}

h4 { 
  display: inline;
  font-size: 11pt;
  font-weight: normal;
	font-family: "Source Sans Pro";
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 15px;
	text-align: justify;
}
.post {
	background: #5074a8;
	font-family: "Source Sans Pro";
	font-size: 11pt;
	color: #FFFFFF;
	padding-bottom: 30px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	 border-radius: 15px 50px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0054a6;
  color: #FFFFFF;
	font-weight: bold;
  font-family: "Source Sans Pro";
		font-size: 14pt;
	-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
	cursor: pointer;
  padding: 12px;
  width: 100%;
  text-align: left;
  border-color: #6dcff6;
	border-width: 1px;
  outline: none;
  transition: 0.4s;
	 border-radius: 15px 15px 0px 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #6dcff6;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #555555;
  display: none;
  overflow: hidden;
font-family: "Source Sans Pro";
	font-size: 10pt;
	color: #FFFFFF;
	text-align: justify;
	 border-radius: 0px 0px 15px 15px;
}
